.container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3.2rem;


    h2 {
        font-size: 3.2rem;
        font-weight: bold;
    }

}